<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
            <directory>tests/Concurrency</directory>
        </testsuite>
        <testsuite name="Arch">
            <directory>tests/Arch</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <ini name="memory_limit" value="1G"/>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="mysql"/>
        <env name="DB_DATABASE" value="iconic_test"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="FRONTEND_ENGINE_URL" value="http://localhost:3000"/>
        <env name="FRONTEND_PANEL_URL" value="http://localhost:3001"/>
        <env name="FRONTEND_PORTAL_URL" value="http://localhost:3002"/>
        <env name="SANCTUM_STATEFUL_DOMAINS" value="localhost:3000,localhost:3001,localhost:3002"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false" force="true"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
        <env name="STRIPE_SECRET" value=""/>
        <env name="STRIPE_PUBLISHABLE" value=""/>
        <env name="STRIPE_WEBHOOK_SECRET" value="whsec_test"/>
        <env name="STRIPE_MODE" value="test"/>
        <env name="SENSITIVE_DATA_KEY" value="base64:YW5ha2F0YS1waHB1bml0LXNlbnNpdGl2ZS1rZXkzMiE=" force="true"/>
    </php>
</phpunit>
